<a href="{{post.path}}" title="{{post.title}}" class="publication__card">
  <div class="card__surtitle">
      {{post.authors|join_authors}}
  </div>
  <h4 class="card__title">{{ post.title }}</h4>
  {% if content %}
    <div class="card__subtitle">{{post.content | excerpt(41)}}</div>
  {% endif %}
  <div class="card__footer">
    <div class="card__terms">
      {{post.terms | join_terms}}
    </div>
    <div class="card__source">
      {% if post.domain is not empty %}
        <span class="card__italic">{{post.domain}} -</span>
      {% endif %}
      <span>{{post.date|date('d M')}}</span>
    </div>
  </div>
</a>