<div class="single__wrapper" data-path="{{post.path}}" data-title="{{post.title}}">
  {% if discovers is not empty %}
    {% include 'components/single-discover.twig' with {'discovers': discovers} %}
  {% endif %}
  <article class="single__container publication {% if discovers is empty %} single__container--margin {% endif %}">
    <p class="publication__research-field">{{post.research_field.name}}</p>
    <h2 class="publication__title">{{post.title}}</h2>
    <p class="publication__authors">Par
      {% for key, author in authors %}
        {% if key > 0 %},{% endif %}{{author.post_title}}
      {% endfor %}
    </p>
    <p class="publication__date">Publié le
      <span class="date__uppercase">[{{post.post_date | date('d M Y')}}]</span>
      {% if post.domain %}sur
        <span class="card__italic">{{post.domain}}</span>
      {% endif %}
    </p>
    {% if post.url %}
      <a href="{{post.url}}" class="publication__link" target="_blank">lire sur
        {{post.domain}}
        ></a>
    {% endif %}
    <p class="publication__content">{{post.content}}</p>
    {% if tags is not empty %}
        {% include 'components/single-tags.twig' with {'tags': tags} %}        
      </ul>
    {% endif %}
    <div class="publication__transition"></div>
  </article>
</div>