<section class="footer__discover">
  <div class="footer__discover__wrapper">
    <div class="footer__discover__page--previous">
      <p class="page__label">{{__('précédent', 'ecritures-numeriques')}}</p>
      <a href="{{previous.path}}" class="page__title">{{previous.name}}</a>
    </div>
    <div class="footer__discover__page--next">
      <p class="page__label">{{__('suivant', 'ecritures-numeriques')}}</p>
      <a href="{{next.path}}" class="page__title">{{next.name}}</a>
    </div>
  </div>
</section>