<header class="single__header">
  <div class="single__header__wrapper">
    <a href="{{previous}}" class="single__header__previous">< {{__('retour')}}</a>
    {% if subtitle %}
    <h3 class="single__header__parent">
      {% if subtitle == 'research_field' %}
        {{__('theory')}}
      {% elseif subtitle == 'research_topic' %}
        {{__('research topics')}}
      {% elseif subtitle == 'key_concept' %}
        {{__('key-concepts')}}
      {% elseif subtitle == 'axis' %}
        {{__('axis')}}
      {% else %}
        {{ subtitle }}
      {% endif %}
    </h3>
    {% endif %}
    <h2 class="single__header__title">{{title}}</h2>
  </div>
  {% if link %}
    <a href="#" class="single__header__link">
      {{__('See the project')}} <span>></span>
    </a>
  {% endif %}
</header>