{% extends "base.twig" %}

{% block content %}
  <section class="legals">
    <div class="legals__container">
      <h1 class="legals__title">{{__('Terms of use', 'ecritures-numeriques')}}</h1>
      <div class="legals__section">
        <h2 class="legals__subtitles">{{__('Website presentation', 'ecritures-numeriques')}}</h2>
        <div class="legals__text">
          {{post.get_field('legals_introduction')}}
        </div>
        <div class="legals__informations">
          <div class="legals__informations__text">
            <span class="legals_bold">{{__('Owner', 'ecritures-numeriques')}}
              :</span>
            <span class="legals__informations__details">{{post.owner}}
              -</span>
            <span class="legals__informations__details">{{post.owner_address}}
            </span>
          </div>
          <div class="legals__informations__text">
            <span class="legals_bold">{{__('Website maker', 'ecritures-numeriques')}}
              :</span>
            <span class="legals__informations__details">{{post.creator}}
              :</span>
            <div class="legals__informations__details">{{post.get_field('creator_informations')}}
            </div>
          </div>
          <div class="legals__informations__text">
            <span class="legals_bold">{{__('Publication manager', 'ecritures-numeriques')}}
              :</span>
            <span class="legals__informations__details">{{post.publication_manager}}
              -</span>
            <a href="mailto:{{post.publication_manager_email}}" class="legals__informations__details">{{__('Contact', 'ecritures-numeriques')}}</a>
          </div>
          <div class="legals__informations__text">
            <span class="legals_bold">{{__('Webmaster', 'ecritures-numeriques')}}
              :</span>
            <span class="legals__informations__details">{{post.webmaster}}
              -</span>
            <a href="mailto:{{post.webmaster_email}}" class="legals__informations__details">{{__('Contact', 'ecritures-numeriques')}}</a>
          </div>
          <div class="legals__informations__text">
            <span class="legals_bold">{{__('Host', 'ecritures-numeriques')}}
              :</span>
            <span class="legals__informations__details">{{post.website_hosting_name}}
              -</span>
            <span class="legals__informations__details">{{post.website_hosting_address}}
            </span>
          </div>
        </div>
      </div>

      <div class="legals__section">
        <h2 class="legals__subtitles">{{__('Hypertext links and cookies', 'ecritures-numeriques')}}</h2>
        <div class="legals__text">
          {{post.get_field('cookies_informations')}}
        </div>
      </div>
    </div>

  </section>
{% endblock %}