{% extends 'base.twig' %}

{% block content %}
{% include "partials/background-lines.twig" %}
<div class="members">
  <section class="members__presentation">
    <h3 class="presentation__subtitle">{{page.subtitle}}</h3>
    <h2 class="presentation__title">{{page.custom.title}}</h2>
    <p class="presentation__content">
      {{page.description}}
    </p>
  </section>
  <div class="members__container">
  {% for key, category in members %}
    <section class="members__list {{ categories[key].slug == 'team' ? 'list--top' : '' }}">
      <h2 class="list__title">{{categories[key].name}}</h2>
      <div class="list__container">
      {% for member in category %}
        <a href="{{member.path}}" class="list__member">
          <div class="member__photo" style="background-image:url({{TimberImage(member.photo).src}})"></div>
          <div class="member__name">
            {{member.title}}
          </div>
          <div class="member__post">
            {{member.posts|join(', ')|excerpt(4)}}
          </div>
        </a>
      {% endfor %}
      </div>
    </section>
  {% endfor %}
  </div>
</div>
{% endblock %}