{% extends "base.twig" %}

{% block content %}
  <section class="all_projects">
    <div class="projects__wrapper">
      {% for project in projects %}

        {% if project.highlighted_project == 1 %}
          <a href="{{project.path}}" class="projects__block projects__block--highlighted">
            <div class="projects__img projects__img--highlighted">
              {% if project.cover_image is not empty %}
                <img src="{{TimberImage(project.cover_image).src}}" alt="{{project.title}}">
              {% endif %}
            </div>
            <div class="projects__content projects__content--highlighted">
              <span class="projects__index">{{project.id_number}}</span>
              <h1 class="projects__title projects__title--highlighted">{{ project.title }}</h1>
              <div class="projects__description">{{project.get_field('content')}}</div>
            </div>
          </a>
        {% else %}
          <a href="{{project.link}}" class="projects__block">
            <div class="projects__img">
              {% if project.cover_image is not empty %}
                <img src="{{TimberImage(project.cover_image).src}}" alt="{{project.title}}">
              {% endif %}
            </div>
            <div class="projects__content">
              <span class="projects__index">0{{project.id_number}}</span>
              <h2 class="projects__title">{{ project.title }}</h2>
              <div class="projects__description">{{project.get_field('content')[:70] ~ '...'}}</div>
            </div>
          </a>
        {% endif %}

      {% endfor %}
    </div>
  </section>
{% endblock %}