 {% extends "base.twig" %}

{% block content %}
	{% include "partials/background-lines.twig" %}
  <div class="publications">
    <header class="publications__header">
      <button class="header__nav header__nav--prev header__nav--disable">
        <
      </button>
      <div class="header__wrapper">
        <ul class="header__list">
          <li class="header__item">
            <button class="{{term ? '' : 'item--active'}}" data-slug="" data-taxonomy="" data-index="0">
            {{__('tout')}}
            </button>
          </li>
        {% for index, item in selected %}
          <li class="header__item">
            <button class="{{term.slug == item.slug ? 'item--active' : ''}}" data-slug="{{item.slug}}" data-taxonomy="{{item.taxonomy}}" data-index="{{index + 1}}">
            {{ item.name }}
            </button>
          </li>
        {% endfor %}
        </ul>
      </div>
      <button class="header__nav header__nav--next">
        >
      </button>
    </header>
    <div class="publications__loading card--hide">
      {{__('loading...', 'ecritures-numeriques')}}
    </div>
    <div class="publications__posts">
      {% include './partials/publications-content.twig' %}
    </div>
  </div>
{% endblock %}
