{% extends "base.twig" %}

{% block content %}
	{% include "partials/background-lines.twig" %}
  <div class="page-rubrics rubrics__container">
    <div class="rubrics__header">
      <h2>{{__('sections', 'ecritures-numeriques')}}</h2>
      <p>
        {{ page.get_field('description') }}
      </p>
    </div>
    <ul class="rubrics__wrapper">
    {% for key,rubric in rubrics %}

      <li class="rubrics__item">
        {% if key == 0 %}
          <button class="item__button">{{__('theories', 'ecritures-numeriques')}}<span>></span></button>
        {% elseif key == 1 %}
          <button class="item__button">{{__('axis', 'ecritures-numeriques')}}<span>></span></button>
        {% elseif key == 2 %}
          <button class="item__button">{{__('research topics', 'ecritures-numeriques')}}<span>></span></button>
        {% elseif key == 3 %}
          <button class="item__button">{{__('key-concepts', 'ecritures-numeriques')}}<span>></span></button>
        {% endif %}
        <ul class="item__wrapper">
          {% for term in rubric[0:19] %}
          <li class="rubrics__subItem">
            <a href="{{function('get_term_link', term.slug)}}">{{term.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
