{% extends 'base.twig' %}

{% block content %}

  {% include "./partials/background-lines.twig" %}

  <div class="results">
    <header class="results__header">
      <nav>
        <ul>
          <li>
            <button class="header__button header__switch header__button--active" data-index="0">
              {{__('publications')}}
              <span>{{results[0]|length}}</span>
            </button>
          </li>
          <li>
            <button class="header__button header__switch" data-index="1">
              {{__('projects')}}
              <span>{{results[1]|length}}</span>
            </button>
          </li>
          <li>
            <button class="header__button header__switch" data-index="2">
              {{__('events')}}
              <span>{{results[2]|length}}</span>
            </button>
          </li>
          <li>
            <button class="header__button header__switch" data-index="3">
              {{__('members')}}
              <span>{{results[3]|length}}</span>
            </button>
          </li>
          <li>
            <button class="header__button header__button--filter">
              {{__('filter')}}
            </button>
          </li>
        </ul>
      </nav>
    </header>
    <div class="results__filters">
    {% for taxonomy in filters %}
      <div class="taxonomy {% if taxonomy|length > 10 %} taxonomy-fix {% endif %}">
        <p class="taxonomy__title">
          {% if taxonomy[0].taxonomy == 'research_field' %}
            {{__('theory')}}
          {% elseif taxonomy[0].taxonomy == 'research_topic' %}
            {{__('research topics')}}
          {% elseif taxonomy[0].taxonomy == 'key_concept' %}
            {{__('key-concepts')}}
          {% elseif taxonomy[0].taxonomy == 'axis' %}
            {{__('axis')}}
          {% else %}
            {{ taxonomy[0].taxonomy }}
          {% endif %}
        </p>
        <ul class="taxonomy__filters">
          {% for term in taxonomy %}
          <li>
            <button class="filter {% if term.slug not in available_filters %}filter--inactive{% endif %}" data-name="{{term.name}}" data-slug="{{term.slug}}" data-taxonomy="{{term.taxonomy}}">
              <div class="filter__radio"></div>
              <p class="filter__label">{{term.name}}</p>
            </button>
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    </div>
    <div class="results__selected-filters">
      <ul class="selected__container">
        <li class="selected__item item--model">
          <div class="item__label">{{__('label')}}</div>
          <button class="item__delete">
            <span></span>
            <span></span>
          </button>
        </li>
      </ul>
      <button class="selected__delete">{{__('delete all')}}</button>
    </div>
    <div class="results__list-wrapper">
    {% for index,result in  results %}
      <div class="list__container {% if index == 0 %}list__container--active{% endif %}">
        <ul class="list__header">
          <li class="header__item item--title">
            {{__('title')}}
          </li>
          <li class="header__item item--domain">
            {{__('publication')}}
          </li>
          <li class="header__item item--authors">
            {{__('author')}}
          </li>
          <li class="header__item item--date">
            {{__('date')}}
          </li>
          <li class="header__item item--rubrics">
            {{__('sections')}}
          </li>
        </ul>
        <ul class="list">
          {% for post in result %}
            {% include './partials/card-result.twig' %}
          {% endfor %}
        </ul>
        <div class="card card--no-result {{ result is empty ? '' : 'card--hide' }}">
          {{__('No results', 'ecritures-numeriques')}}
        </div>
        <div class="card card--loading card--hide">
          {{__('Loading...', 'ecritures-numeriques')}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}