{% extends 'base.twig' %}

{% block content %}

  <div class="member">
    <div class="member__resume">
      <header class="single__header__wrapper resume__header">
        <a href="#" class="single__header__previous header__previous">< {{__('retour')}}</a>
      </header>
      <div class="resume__container">
        <div class="resume__photo">
          <div class="photo" style="background-image:url({{TimberImage(member.photo).src}})"></div>
        </div>
        <div class="resume__section">
          <h1 class="resume__name">
            {{member.title}}
          </h1>
          <div class="resume__post">
            {{member.posts|join(', ')}}
          </div>
        </div>
        <div class="resume__section">
          <ul class="resume__works">
            {% if member.publications|length > 0 %}
              <li>{{member.publications|length}} {{__('publications')}}</li>
            {% endif %}
            {% if member.projects|length > 0 %}
              <li>{{member.projects|length}} {{__('projets')}}</li>
            {% endif %}
            {% if member.events|length > 0 %}
              <li>{{member.events|length}} {{__('évenements')}}</li>
            {% endif %}
          </ul>
        </div>
        <div class="resume__section">
          <a href="mailto:{{member.email}}" class="resume__mail">
            {{member.email}}
          </a>
          {% if member.infos is not empty %}
            <ul class="resume__infos">
              {% for info in member.get_field('infos') %}
                <li><a href="{{info.link}}">{{info.label}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="member__about">
      <div class="about__wrapper">
        <div class="single__content about__content">
          {{member.get_field('about')}}
        </div>
        <div class="about__footer">
          {% include "components/single-footer.twig" with {'previous_path': member.previous.path, 'previous_name': member.previous.title, 'previous_post': member.previous.posts[0].title,'next_path': member.next.path, 'next_name': member.next.title, 'next_post': member.next.posts[0].title} %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}