{% extends 'base.twig' %}

{% block content %}

  <div class="member">
    <div class="member__resume">
      <header class="single__header__wrapper resume__header">
        <a href="#" class="single__header__previous header__previous">< {{__('back')}}</a>
      </header>
      <div class="resume__container">
        <div class="resume__photo">
          <div class="photo" style="background-image:url({{TimberImage(member.photo).src}})"></div>
        </div>
        <div class="resume__section">
          <h1 class="resume__name">
            {{member.title}}
          </h1>
          <div class="resume__post">
            {{member.posts|join(', ')}}
          </div>
        </div>
        <div class="resume__section">
          <ul class="resume__works">
            {% if member.publications | length > 0 %}
              <li>{{member.publications|length}}
                {{__('publications')}}</li>
            {% endif %}
            {% if member.projects | length > 0 %}
              <li>{{member.projects|length}}
                {{__('projects')}}</li>
            {% endif %}
            {% if member.events | length > 0 %}
              <li>{{member.events|length}}
                {{__('events')}}</li>
            {% endif %}
          </ul>
        </div>
        <div class="resume__section">
          <a href="mailto:{{member.email}}" class="resume__mail">
            {{member.email}}
          </a>
          {% if member.infos is not empty %}
            <ul class="resume__infos">
              {% for info in member.get_field('infos') %}
                <li>
                  <a href="{{info.link}}">{{info.label}}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="member__about">
      <div class="about__wrapper">
        <div class="single__content about__content">
          {{member.get_field('about')}}
        </div>
        {% if member.post_highlighted %}
          <h3 class="highlighted__section__title">
            {{__('Highlight')}}
          </h3>
          <a href="{{member.post_highlighted.path}}" class="about__highlighted">
            <div class="highlighted__authors">
              {% for author in member.post_highlighted.authors %}
                {{author.title}}
              {% endfor %}
            </div>
            <div class="highlighted__title">
              {{member.post_highlighted.title}}
            </div>
            <div class="highlighted__content">
              {{member.post_highlighted.get_field('content')|excerpt(20)}}
            </div>
          </a>
        {% endif %}
        <div class="about__footer">
          {% include "components/single-footer.twig" with {'previous_path': member.previous.path, 'previous_name': member.previous.title, 'previous_post': member.previous.posts[0].title,'next_path': member.next.path, 'next_name': member.next.title, 'next_post': member.next.posts[0].title} %}
        </div>
      </div>
      <div class="about__posts">
        {% if member.publications is not empty %}
          <section class="section__post">
            <div class="post__header">{{__('publications')}}</div>
            <ul class="post__list">
              <li class="list__section">
                {{__('Monographs')}}
              </li>
              {% for post in member.publications %}
                {% if post.type == 'book' %}
                  <li>
                    <a href="{{post.path}}" title="{{post.post_title}}" class="list__item">
                      <h5 class="item__title">
                        {{post.post_title}}
                      </h5>
                      <div class="item__about">
                        <p class="item__author">
                          {{ post.authors|join_authors|excerpt(3)}}
                        </p>
                        <p class="item__date">[{{post.post_date|date('d\\-m\\-y')}}]
                          {% if post.domain %}-
                            {{post.domain}}
                          {% endif %}
                        </p>
                      </div>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              <li class="list__section">
                {{__('Books Sections')}}
              </li>
              {% for post in member.publications %}
                {% if post.type == 'bookSection' %}
                  <li>
                    <a href="{{post.path}}" title="{{post.post_title}}" class="list__item">
                      <h5 class="item__title">
                        {{post.post_title}}
                      </h5>
                      <div class="item__about">
                        <p class="item__author">
                          {{ post.authors|join_authors|excerpt(3)}}
                        </p>
                        <p class="item__date">[{{post.post_date|date('d\\-m\\-y')}}]
                          {% if post.domain %}-
                            {{post.domain}}
                          {% endif %}
                        </p>
                      </div>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              <li class="list__section">
                {{__('Articles')}}
              </li>
              {% for post in member.publications %}
                {% if post.type == 'journalArticle' %}
                  <li>
                    <a href="{{post.path}}" title="{{post.post_title}}" class="list__item">
                      <h5 class="item__title">
                        {{post.post_title}}
                      </h5>
                      <div class="item__about">
                        <p class="item__author">
                          {{ post.authors|join_authors|excerpt(3)}}
                        </p>
                        <p class="item__date">[{{post.post_date|date('d\\-m\\-y')}}]
                          {% if post.domain %}-
                            {{post.domain}}
                          {% endif %}
                        </p>
                      </div>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </section>
        {% endif %}
        {% if member.projects is not empty %}
          <section class="section__post">
            <div class="post__header">{{__('projects')}}</div>
            <ul class="post__list">
              {% for post in member.projects %}
                <li>
                  <a href="{{post.path}}" title="{{post.post_title}}" class="list__item">
                    <h5 class="item__title">
                      {{post.post_title}}
                    </h5>
                    <div class="item__about">
                      <p class="item__author">
                        {{ post.authors|join_authors|excerpt(3)}}
                      </p>
                      <p class="item__date">[{{post.post_date|date('d\\-m\\-y')}}]
                        {% if post.domain %}-
                          {{post.domain}}
                        {% endif %}
                      </p>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
        {% if member.events is not empty %}
          <section class="section__post">
            <div class="post__header">{{__('events')}}</div>
            <ul class="post__list">
              {% for post in member.events %}
                <li>
                  <a href="{{post.path}}" title="{{post.post_title}}" class="list__item">
                    <h5 class="item__title">
                      {{post.post_title}}
                    </h5>
                    <div class="item__about">
                      <p class="item__author">
                        {{ post.authors|join_authors|excerpt(3)}}
                      </p>
                      <p class="item__date">[{{post.end_date|date('d\\-m\\-y')}}]
                        {% if post.domain %}-
                          {{post.domain}}
                        {% endif %}
                      </p>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}