{% extends "base.twig" %}

{% block content %}

  <section class="event">
    <!-- Header event -->
    <div class="event__container">
      <header class="single__header__wrapper">
        <a href="#" class="header__project__back single__header__previous">< {{__('retour')}}</a>
      </header>

      <!-- Event content -->
      <div class="event__wrapper">
        <div class="event__cover_image">
          <img src="{{event.custom.image_url}}" alt="{{event.title}}">
        </div>
        <div class="event__infos__wrapper">
          <ul class="event__infos__nav">
            <li class="event__infos">
              <div class="infos__left">
                <h2 class="infos__date">{{event.date_start|date('d F')}}</h2>
                <h4 class=" infos__hour infos__hour--mobile">[
                  {{event.date_start|date('H:i')}}
                  ]</h4>
              </div>
              <div class="infos__right">
                <h1 class="infos__title">{{event.post_title}}</h1>
                <h3 class="infos__location infos__location--mobile">{{event.event_venue}}</h3>
              </div>
            </li>
            <li class="event__infos">
              <div class="infos__left">
                <h4 class="infos__hour">[
                  {{event.date_start|date('H:i')}}
                  ]</h4>
              </div>
              <div class="infos__right">
                <h3 class="infos__location">
                  {{event.event_venue}}
                </h3>
              </div>
            </li>
          </ul>
          <div class="event__content__container">
            <div class="event__description">
              <p class="event__description__text">
                {{event.post_content}}
              </p>
            </div>
            <div class="event__medias">
              <h2 class="medias__title">{{event.custom.medias_title}}</h2>
              <div class="medias__video__wrapper">
                <div class="medias__video">
                  {{event.custom.video_url}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}