{% extends "base.twig" %}

{% block content %}
  <div class="taxonomy__container">
    {% include "components/single-header.twig" with {'title': term.name,'subtitle': term.taxonomy,'link': false, 'previous': site_pages.all_sections} %}
    <div class="taxonomy__wrapper">
      <div class="taxonomy__about">
        <p class="taxonomy__content">
          {{term.description}}
        </p>
        {% include "components/single-footer.twig" with {'previous_path': function('term_link', term.previous), 'previous_name': term.previous.name,'next_path': function('term_link', term.next), 'next_name': term.next.name} %}
      </div>
      <div class="taxonomy__related">
        <div class="related__container">
          <header class="related__header">
            <nav>
              <ul>
                {% for key, rel in term.related %}
                  <li class="header__item">
                    <button class="header__button {% if key == 0 %}active{% endif %}" data-index="{{key}}">
                      {% if rel[0].post_type == 'publication' %}
                        <p class="header__label">{{__('publications', 'ecritures-numeriques')}}</p>
                      {% elseif rel[0].post_type == 'project' %}
                        <p class="header__label">{{__('projects', 'ecritures-numeriques')}}</p>
                      {% elseif rel[0].post_type == 'event' %}
                        <p class="header__label">{{__('events', 'ecritures-numeriques')}}</p>
                      {% endif %}
                      <p class="title__count">{{rel|length}}</p>
                    </button>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </header>
          <div class="related__wrapper wrapper--hide">
            <button class="related__return">
              < {{__('back', 'ecritures-numeriques')}}
            </button>
            {% for type in term.related %}
              <section class="related__section {% if key == 0 %}active{% endif %}">
                {% for post in type %}
                  <a href="{{post.path}}" title="{{post.post_title}}" class="related__item">
                    <h5 class="item__title">
                      {{post.post_title}}
                    </h5>
                    <div class="item__about">
                      <p class="item__author">
                      {{ post.authors|join_authors|excerpt(3)}}
                      </p>
                      <p class="item__date">[{{post.post_date|date('d\\-m\\-y')}}]
                        {% if post.domain %}-
                          {{post.domain}}
                        {% endif %}
                      </p>
                    </div>
                  </a>
                {% endfor %}
              </section>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}